/* Main colors */
$Yellow: #de9636;
$Red: #e6564c;
$LightGreen: #acd2b8;
$Blue: #2b326d;
/* Secondary colors */
$Raspberry: #da3166;
$DarkGreen: #5a624e;
$SecondaryBlue: #6e84be;
$DarkBlue: #1c1d44;
$White: #ffffff;
$MainText: #4d606a;
$HeaderText: #183343;
$LightGrey: #f7f8f8;

$mainColor: $Blue;
$lightColor: #e0fbfc;
$secondaryColor: rgba($SecondaryBlue, 0.5);
$darkColor: $DarkBlue;
$oppositeColor: $Red;

$largerFont: 1.25rem;
$defaultFont: 1rem;
